.inner {
  width: 1123px;
  margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #444444;
}

p {
  line-height: 1.8;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  color: #F3164D;
  font-size: 90px;
  line-height: 1.2;
}

h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  color: #F3164D;
  font-size: 60px;
  line-height: 1.8;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
}

.py {
  padding: 101px 0;
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: 'Great Vibes', cursive;
  color: #F3164D;
  border: 2px solid #F3164D;
  cursor: pointer;
  font-size: 21.86px;
  padding: 18px;
  margin-top: 42px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 7px #707070;
  transition: .5s;
}

.btn::after {
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: '\f004';
  margin-left: 12px;
}

.btn:hover {
  background-color: #F3164D;
  color: #fff;
  box-shadow: unset;
  transition: 0.5s;
}

.d-flex {
  display: flex;
  gap: 30px;
  align-items: center;
}

.decoration {
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
}

.decoration::before {
  content: '';
  display: inline-block;
  background: #707070;
  width: 60px;
  height: 1px;
}

.decoration::after {
  content: '';
  display: inline-block;
  background: #707070;
  width: 60px;
  height: 1px;
}

.decoration i {
  line-height: 1.8;
}

span {
  font-size: 16px;
  color: #444444;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .inner {
    width: 85%;
  }

  img {
    width: 100%;
  }

  p {
    line-height: 1.5;
  }

  h2 {
    font-size: 7.031vw;
  }

  h3 {
    font-size: 4.688vw;
  }

  h4 {
    font-size: 1.953vw;
  }

  .py {
    padding: 7.891vw 0;
  }

  .btn {
    font-size: 2.908vw;
    padding: 1.406vw;
    margin-top: 3.281vw;
    box-shadow: 0 0.156vw 0.547vw #707070;
  }

  .btn::after {
    margin-left: 0.938vw;
  }

  .d-flex {
    gap: 2.344vw;
  }

  .decoration {
    column-gap: 0.391vw;
  }

  .decoration::before {
    width: 4.688vw;
    height: 0.078vw;
  }

  .decoration::after {
    width: 4.688vw;
    height: 0.078vw;
  }


  span {
    font-size: 1.25vw;
    letter-spacing: 0.156vw;
  }

  .service-txt p {
    font-size: 1.65vw;
  }

}

@media screen and (max-width:767.9px) {
  .inner{
    width: 90%;
  }

  img {
    width: 100%;
  }

  p {
    line-height: 1.5;
    font-size: 4vw;
  }

  h2 {
    font-size: 16.031vw;
  }

  h3 {
    font-size: 7.688vw;
  }

  h4 {
    font-size: 2.953vw;
  }

  .py {
    padding: 8.891vw 0;
  }

  .btn {
    font-size: 3.908vw;
    padding: 1.406vw;
    margin-top: 7.281vw;
    box-shadow: 0 0.156vw 0.547vw #707070;
  }

  .btn::after {
    margin-left: 0.938vw;
  }

  .d-flex {
    gap: 5.344vw;
  }

  .decoration {
    column-gap: 0.391vw;
  }

  .decoration::before {
    width: 4.688vw;
    height: 0.078vw;
  }

  .decoration::after {
    width: 4.688vw;
    height: 0.078vw;
  }


  span {
    font-size: 3.25vw;
    letter-spacing: 0.156vw;
  }

  .service-txt p {
    font-size: 1.65vw;
  }
}
