.date i {
  display: block;
  color: #F3164D;
}

.dress-img span{
  letter-spacing: normal;
}

.event .date i{
  font-size: 30px;
}

.date p{
  font-size: 16px;
}

.dress-img .date {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  padding: 10px;
  box-shadow: 0 0 2px #707070;
  letter-spacing: normal;
  line-height: 2;
}

.date p{
  color: #F3164D;
  padding-top: 17px;
}
