.tabs {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}

.tabs .button {
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: unset;
  color: #444444;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-color: unset
}

.tabs .button:hover {
  color: #F3164D;
}

.button.active {
  color: #F3164D;
}

.content.active {
  padding: 2rem;
  display: block;
}

.content {
  display: none;
}

.weddingdress .dress-img {
  flex: 1 1 20%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .weddingdress .dress-img {
    flex: 1 1 40%;
  }
}

@media screen and (max-width:767.9px) {
    .weddingdress .dress-img {
      flex: 1 1 60%;
    }

    .weddingdress .dress-img img{
      object-fit: cover;
    }

    .tabs{
      gap: 10px;
    }

    .tabs .button{
      font-size: 4vw;
    }
}
