.banner {
  background: url(../img/banner.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.aboutus .history {
  flex: 1 1 45%;
}

.aboutus .ourhistory.py {
  text-align: left;
}

.aboutus .ourhistory .d-flex {
  align-items: flex-start;
  gap: 96px;
}

.aboutus .ourhistory h3 {
  line-height: 1.8;
}

.aboutus .ourhistory p {
  font-size: 30px;
  color: #666666;
}

.aboutus .history-txt p {
  font-size: 16px;
  color: #444444;
  padding-bottom: 32px;
  line-height: 2;
}

.aboutus .associate {
  background-color: #FDDAE2;
}

.coordinator {
  position: relative;
  width: 100%;
}

.associate .d-flex {
  padding-top: 85px;
  align-items: center;
}

.coordinator img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.member-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 50%);
  color: #444444;
  padding: 45px 25px;
  width: 80%;
  height: 80%;
}

.coordinator:hover .overlay {
  opacity: 0.9;
}

.coordinator h5 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #F3164D;
}

.coordinator span {
  color: #222222;
  padding-top: 18px;
  padding-bottom: 32px;
  display: inline-block;
}

.coordinator .d-flex {
  justify-content: center;
  padding-top: 42px;
}

.coordinator ul li i {
  font-size: 30px;
  color: #F3164D;
}

.flawless-bg {
  position: relative;
  background: url(../img/flawless.jpg);
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}

.flawless-bg:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  content: "";
}


@media screen and (max-width:767.9px) {
  .aboutus .ourhistory .d-flex {
    flex-direction: column;
    gap: 30px;
  }

  .associate .d-flex {
    padding-top: 0;
    flex-wrap: wrap;
  }

}
